<mat-dialog-content>
  <div class="modal-body">
    <div class="card-header">
      <strong>Modifica</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="formCompetencia" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nombreCompetencia">
            Nombre competencia
          </label>
          <div class="col-md-7">
            <input type="text"
              onkeyup="javascript:this.value=this.value.toUpperCase();"
              placeholder="Ingrese el nombre de la competencia"
              class="form-control is-valid"
              formControlName="nombreCompetencia"
              id="nombreCompetencia"
              required>
            <div class="valid-feedback" *ngIf="!nombreCompetenciaField?.hasError('required')">
              Valor válido
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="codigoCompetencia">
            Código de la competencia
          </label>
          <div class="col-md-7">
            <input type="text"
              onkeyup="javascript:this.value=this.value.toUpperCase();"
              placeholder="Ingrese el código de la competencia"
              class="form-control is-valid"
              formControlName="codigoCompetencia"
              id="codigoCompetencia"
              required>
            <div class="valid-feedback" *ngIf="!codigoCompetenciaField?.hasError('required')">
              Valor válido
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="idActividadProyecto">
            Actividad proyecto
          </label>
          <div class="col-md-7">
            <select class="form-select" formControlName="idActividadProyecto">
              <option [ngValue]="null">Seleccionar una actividad proyecto</option>
              <option *ngFor="let actividad of actividadProyecto" [ngValue]="actividad.id">
                {{ actividad.nombreActividadProyecto }}
              </option>
            </select>
            <div class="valid-feedback" *ngIf="!idActividadProyecto?.hasError('required')">
              Valor válido
            </div>
            <div class="invalid-feedback">
              Por favor ingrese un valor válido para actividadProyecto
            </div>
          </div>
        </div>



      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"
          (click)="guardarCompetencia(getCompetencia())"
          [disabled]="formCompetencia.invalid">
          <i class="fa fa-dot-circle-o"></i> Aceptar
        </button>

        <button mat-button mat-dialog-close type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Cancelar
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
