<div class="display-description">
    <li class="des-content">
        <ul class="title">
            <li>
                <h4>Análisis y desarrollo de software - Diseño de aplicaciones móviles</h4>
            </li>
            <li>
                <h4>Ficha : ****************</h4>
            </li>
        </ul>
    </li>
    <li class="des-content">
        <ul class="Description">
            <li>
                <p>Descripción de programa: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor
                    ante vel ligula facilisis, sit amet interdum est varius. Sed non magna vel mauris convallis
                    tempor. Aliquam erat volutpat. In hac habitasse platea dictumst. Nam ullamcorper ex libero, eu
                    posuere velit tristique vitae. Sed eget ante sit amet nulla vehicula molestie. </p>
            </li>
        </ul>
    </li>
</div>