footer{
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    padding: 0px 10px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.footer-content div{
    color: #fff;

}
.footer-content div:hover{
    color: #a8a8a8;
}

.footer-content a{
    cursor: pointer;
}
