@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed&family=Vina+Sans&display=swap');

* {
    font-family: 'Roboto Condensed';
}

body {
    position: relative;
    background-color: #161A24;
    color: rgb(232, 232, 232);

    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    overflow-x: hidden;
}

.img-fondo {

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;

}

.img-fondo svg {
    display: flex;
    width: 100vw;
    height: 100vh;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.bloque-information {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 0 20px;
    padding-right: 12px;
    justify-content: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.snotifyToast__body {
    width: 150px;
}

.snotifyToast {
    overflow: hidden;
    position: absolute;
    left: -200px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(201, 5, 5);
    position: absolute;
    border-radius: 10px;
}

.fadeIn {
    position: relative;
    width: 150px;
    left: 10px;
    animation-name: fadeInAnimation;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.snotifyToast_progressBar_percentage {
    display: flex;
    height: 3px;
    background: blue;
    transition: 0.1s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
}

app-root,
app-company {
    width: 100%;
    height: 100%;
}

app-homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-company {
    display: flex;
    justify-content: center;
    align-items: center;
}

app-navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 10px;
}

app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}

.item-center {
    height: 100vh;
    align-items: center;
}

.slide-item {
    display: flex !important;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.slick-wrapper {
    width: 80%;
}
/*
.bloque-slick-information {
    display: flex;
    width: 100%;
    justify-content: center;
}
*/
.content-slick-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;
}

@media (max-width: 732px) {
    .content-information {
        width: 80%;
        padding-left: 50px;
    }
}


.mat-mdc-dialog-container {
    --mdc-dialog-container-color: #182034;
    /* Outer container color*/
    --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
    /*title color*/
    --mdc-dialog-supporting-text-color: rgb(255, 255, 255);
    /* body color*/
    --mdc-dialog-container-shape: 7px !important;
    /*border radius*/
    overflow-x: hidden!important;
}


.mdc-dialog__surface{
    min-width: 35vw!important;
}
/*
.mat-mdc-dialog-container input{
    background-color: white;
    width: auto;
    height: 2em;
}

.mat-mdc-dialog-container input:focus{

    outline: none;
}

*/
input {
    background-color: #131A2E !important;

    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: transparent solid 1px;
    color: #ffff;
    outline: none;
    text-align: center;
    transition: 0.5s;
}

input:hover , input:focus {
    border: #3869B2 solid 1px;
    transition: 0.5s;
}


input::placeholder {
    color: #6b6b6b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input[type="password"]:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;


}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1820347a;
}

::-webkit-scrollbar-thumb {
    background: rgba(245, 245, 245, 0.811);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(245, 245, 245);
}